{% extends 'base.html'%}
		{% block title %}
		<title> The Dunktionary </title>
		{% endblock %}
		
		{% block search %}
		<form method ="get" action="{% url 'search' %}">
			<input type="text" id="name" placeholder="Search Dunktionary..." name = "name">
		</form>
		{% endblock %}
		
		
{% block content %}

	<main role="main">

	<section class="jumbotron text-center">
		<div class="container-fluid p-0 position-relative">
			<img src="https://i.imgur.com/B3rXRuJ.jpg" class="img-fluid w-100" style="max-height: 70vh; object-fit: cover; border-radius: 0;" alt="The Dunktionary">
			<h1 class="position-absolute text-white" style="top: 35%; left: 50%; transform: translate(-50%, -50%); font-size: 4vw;">The Dunktionary</h1>
			<p class="lead text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2vw;">The all-inclusive guide to Acrobatic Dunking</p>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">
		<div class="container-fluid">
			<div class="row">
			<div class="col-md-4">
				<a href="{% url 'passlib'%}">
				<div style="width: 100%; overflow: hidden; border-radius: 10px;">
					<img class="h-100 img-responsive" style="height: 100%; width: 144%; margin-left: -16.67%; display: block; border-radius: 10px;" src="https://i.imgur.com/2ofcEkb.jpg" alt="Cropped Image">
				</div>
				<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); border-radius: 40%; padding: 10px;">
					<h1 style="color: white;">Passes</h1>
				</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'makeATrain'%}">
				<div style="width: 100%; overflow: hidden; border-radius: 10px;">
					<img class="h-100 img-responsive" style="height: 100%; width: 100%; display: block; border-radius: 10px;" src="https://i.imgur.com/px3cX22.jpg">
				</div>
				<div style="position: absolute; top: 5%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); border-radius: 40%;">
					<h1 style="color: white;">Train Maker</h1>
				</div>
				</a> 
			</div>
			<div class="col-md-4">
				<a href="{% url 'dunklib'%}">
				<div style="width: 100%; overflow: hidden; border-radius: 10px;">
					<img class="h-100 img-responsive" style="height: 100px; width: 100%; display: block; border-radius: 10px;" src="https://i.imgur.com/hwn5yrn.jpg">
				</div>
				<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); border-radius: 40%; padding: 10px;">
					<h1 style="color: white;">Dunks</h1>
				</div>
				</a>
			</div>
			</div>
		</div>
		</div>	
	</div>
		
	</main>
		

	<footer class="text-muted">
	<div class="container">

	</div>
	</footer>

{% comment %}   
	<section class="about-section">
	<div class="container">
		<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="about-image">
			<img src="https://drive.google.com/uc?id=1RDpx7qQqpBzNI58Gnnsv5pnNe1IgCmsI&export=download" alt="About Image">
			</div>
		</div>
		<div class="col-md-8">
			<div class="about-content">
			<h2>The Dunktionary</h2>
			<p>
				This is not an official site of BYU nor does it represent BYU.
			</p>
			</div>
		</div>
		</div>
	</div>
	</section> {% endcomment %}

{% endblock %}



