{% extends 'base.html'%}

{% block title %}
    <title> Search Results </title>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<main>
    <body>
        <div class= "container">
            <div class = "row">
                <div class = "col-sm-3">
                    <ul class="list-unstyled">
                        <br>
                        <h4><a href={% url 'passlib' %} class="text-dark text-decoration-none">Passes</a></h5>
                        <h4><a href={% url 'dunklib' %} class="text-dark text-decoration-none">Dunks</a></h5>
                            <br>
                            <h5 style= "color:dark-grey"> Other </h5>
                            <h6><a href={% url 'makeATrain'%} class="text-decoration-none" style= "color:#444444">Train Maker</a></h6>
                            <h6><a href="../DunkTheory" class="text-decoration-none" style= "color:#444444">Dunk Theory</a></h6>
                    </ul>
                </div>
                <div class = "col-sm-9">
                    <br><br><br><br>
                    <div class= "row">
                        {% if dunks|length == 0 %}
                            {% if passes|length == 0 %}
                            <p> No Results Found </p>
                            {% else%}
                                {% for pass in passes %}
                                    <div class = "col-sm-4">
                                        <a href= ../Passes/{{pass.altName}}>
                                            <div class="card">
                                                <img class="card-img" src={{pass.image}} alt={{pass.name}}>
                                                <div class="card-img-overlay position-absolute top-50 start-50  translate-middle text-white">
                                                    <h4 class="card-title" style = "text-shadow: 2px 1px 2px black;">{{pass.name}}</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% else%}
                            {% for dunk in dunks %}
                                <div class = "col-sm-4">
                                    <a href= ../Dunks/{{dunk.altName}}>
                                        <div class="card">
                                            <img class="card-img" src={{dunk.image}} alt={{dunk.name}}>
                                            <div class="card-img-overlay position-absolute top-50 start-50  translate-middle text-white">
                                                <h4 class="card-title" style = "text-shadow: 2px 1px 2px black;">{{dunk.name}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                            {% if passes|length == 0 %}
                            <p></p>
                            {% else%}
                                {% for pass in passes %}
                                    <div class = "col-sm-4">
                                        <a href= ../Passes/{{pass.altName}}>
                                            <div class="card">
                                                <img class="card-img" src={{pass.image}} alt={{pass.name}}>
                                                <div class="card-img-overlay position-absolute top-50 start-50  translate-middle text-white">
                                                    <h4 class="card-title" style = "text-shadow: 2px 1px 2px black;">{{pass.name}}</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>       
                </div> 
            </div>
        </div>
        <br> <br><br> <br><br> <br><br> <br>
    </body>
</main>
{% endblock %}