{% extends 'base.html'%}
      
        {% block title %}
          <title> Train Maker </title>
        {% endblock %}
        
        {% block search %}
        <h1> Search </h1>
          <form method ="get" action="{% url 'search' %}">
              <label for= "name"> Dunk Name </label>
              <input type="text" id="name" placeholder="Search..." name = "name">
          </form>
        {% endblock %}

{% block content %}
  <main>
    <body>
        <div class= "container">
            <div class = "row">
                <div class = "col-sm-2">
                    <ul class="list-unstyled">
                        <br>
                        <h4 style= "font-size:1.5vw"><a href={% url 'passlib'%} class="text-dark text-decoration-none">Passes</a></h4>
                        <h4 style= "font-size:1.5vw"><a href={% url 'dunklib'%} class="text-dark text-decoration-none">Dunks</a></h4>
                            <br>
                            <h5 style= "color:dark-grey; font-size:1.25vw"> Other </h5>
                            <h6 style= "font-size:1vw"><a href={% url 'makeATrain'%} class="text-decoration-none" style= "color:#444444">Train Maker</a></h6>
                            <h6 style= "font-size:1vw"><a href={% url 'dunkTheory'%} class="text-decoration-none" style= "color:#444444">Dunk Theory</a></h6>
                    </ul>
                </div>
                <div class = "col-sm-6">
                      <br><br><br><br><br>
                    <h4>
                    {% if train %}
                        <ul>
                            {% for item in train %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% if custom_train_names %}
                            <ul>
                                {% for name in custom_train_names %}
                                <li>{{ name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No valid train could be generated.</p>
                        {% endif %}
                    {% endif %}                                  
                    </h4>
                    <div id="custom_train_text">
                    </div>
                    <br>
                    <h4>Total Score: {{ total_score|floatformat:2 }}</h4>
                        <div class="circle" id="app" style="--ln:28; --c: 12rem; --fz: 5; --h: 10; --speed: 4s;">
                            <b style="transform: translate(-50%, -50%);">mystery</b>
                            <strong style="--d:0; --h:0; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.095em));">silence</strong>
                            <strong style="--d:1; --h:12; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">sound</strong>
                            <strong style="--d:2; --h:25; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.075em));">storytelling</strong>
                            <strong style="--d:3; --h:38; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">surprise</strong>
                            <strong style="--d:4; --h:51; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">symbolism</strong>
                            <strong style="--d:5; --h:64; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">synchronicity</strong>
                            <strong style="--d:6; --h:77; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">synergy</strong>
                            <strong style="--d:7; --h:90; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">wholeness</strong>
                            <strong style="--d:8; --h:102; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">witnessing</strong>
                            <strong style="--d:9; --h:115; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">art</strong>
                            <strong style="--d:10; --h:128; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">clearing</strong>
                            <strong style="--d:11; --h:141; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">connectedness</strong>
                            <strong style="--d:12; --h:154; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">discernment</strong>
                            <strong style="--d:13; --h:167; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">facing darkness</strong>
                            <strong style="--d:14; --h:180; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">healing</strong>
                            <strong style="--d:15; --h:192; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">intuition</strong>
                            <strong style="--d:16; --h:205; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">listening</strong>
                            <strong style="--d:17; --h:218; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">love</strong>
                            <strong style="--d:18; --h:231; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">movement</strong>
                            <strong style="--d:19; --h:244; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">music</strong>
                            <strong style="--d:20; --h:257; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">mystery</strong>
                            <strong style="--d:21; --h:270; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">non-attachment</strong>
                            <strong style="--d:22; --h:282; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">non-judgment</strong>
                            <strong style="--d:23; --h:295; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">not knowing</strong>
                            <strong style="--d:24; --h:308; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">quickening</strong>
                            <strong style "--d:25; --h:321; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">re-membering</strong>
                            <strong style="--d:26; --h:334; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">sensing</strong>
                            <strong style="--d:27; --h:347; position: absolute; transform: translate(-50%, -50%); color: hsl(var(--h), 55%, 50%); inline-size: var(--c); padding-inline-start: var(--c); font-size: calc(1em + (var(--fz) * 0.050em));">service</strong>
                        </div>
                        <fieldset>
                            <legend>Controls</legend>
                            <label>Circle Size
                                <input type="range" min="6" max="40" value="12" oninput="app.style.setProperty('--c', this.value+'rem')" />
                            </label>
                            <label>Font Size
                                <input type="range" min="1" max="10" value="5" oninput="app.style.setProperty('--fz', this.valueAsNumber)" />
                            </label>
                            <label>Spinning Speed
                                <input type="range" min="1" max="10" value="4" oninput="app.style.setProperty('--speed', this.value + 's')" />
                            </label>
                        </fieldset>
                </div>
                  <div class = "col-sm-4">
                          <br><br><br><br>
                          <form method="post" id='train'>
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="num_people" class="col-sm-6 col-form-label font-weight-bold" style="font-size: 14px;">Number of People:</label>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <span id="num_people_display" class="form-control border-0" style="font-size: 14px;">{{ request.POST.num_people|default:'0' }}</span>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="incrementNumber('num_people')">▲</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="decrementNumber('num_people')">▼</button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="num_people" name="num_people" value="{{ request.POST.num_people|default:'0' }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="level" class="col-sm-6 col-form-label font-weight-bold" style="font-size: 14px;">Level:</label>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <span id="level_display" class="form-control border-0" style="font-size: 14px;">{{ request.POST.level|default:'0' }}</span>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="incrementNumber('level')">▲</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="decrementNumber('level')">▼</button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="level" name="level" value="{{ request.POST.level|default:'0' }}">
                                </div>
                            </div>
                            <div id="HIDDEN_custom_train_text">
                                {% comment %} the script {% endcomment %}
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label font-weight-bold" style="font-size: 14px;">Custom Train:</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="custom_train_checkbox" name="custom_train" value="1">
                                </div>
                            </div>
                            <br>
                            <input type="submit" value="Generate Train" class="btn btn-primary">
                        </form>
                                
                        <script>
                          function incrementNumber(inputId) {
                            var inputDisplayElement = document.getElementById(inputId + "_display");
                            var inputElement = document.getElementById(inputId);
                            var currentValue = parseInt(inputElement.value);
                            inputElement.value = currentValue + 1;
                            inputDisplayElement.innerText = currentValue + 1;
                        }
                    
                        function decrementNumber(inputId) {
                            var inputDisplayElement = document.getElementById(inputId + "_display");
                            var inputElement = document.getElementById(inputId);
                            var currentValue = parseInt(inputElement.value);
                            if (currentValue > 0) {
                                inputElement.value = currentValue - 1;
                                inputDisplayElement.innerText = currentValue - 1;
                            }
                        }

                        document.getElementById("custom_train_checkbox").addEventListener("change", function () {
                            var CustomTrainText = document.getElementById("custom_train_text");
                            var HIDDENCustomTrainText = document.getElementById("HIDDEN_custom_train_text");
                            var numPeople = parseInt(document.getElementById("num_people").value);
                            var trainForm = document.getElementById('train');
                        
                            if (this.checked) {
                                // CustomTrainText.innerHTML = "";
                                // HIDDENCustomTrainText.innerHTML = ""; 
                                for (var i = 1; i <= numPeople; i++) {
                                    var input = document.createElement("input");
                                    input.type = "text";
                                    input.name = "custom_train_" + i;
                        
                                    var div = document.createElement("div");
                                    div.appendChild(input);
                        
                                    CustomTrainText.appendChild(div);
                        
                                    var hiddenInput = document.createElement("input");
                                    hiddenInput.type = "hidden";
                                    hiddenInput.name = "hidden_custom_train_" + i;
                                    div = document.createElement("div");
                                    div.appendChild(hiddenInput);
                                    HIDDENCustomTrainText.appendChild(div);
                                }
                                CustomTrainText.style.display = "block";
                                HIDDENCustomTrainText.style.display = "none";
                            } else {
                                CustomTrainText.innerHTML = "";
                                HIDDENCustomTrainText.innerHTML = "";
                                CustomTrainText.style.display = "none";
                                HIDDENCustomTrainText.style.display = "none";
                            }
                        });

                        function copyTextToHiddenInputs() {
                            var numPeople = parseInt(document.getElementById("num_people").value);
                            for (var i = 1; i <= numPeople; i++) {
                                var customTrainInput = document.querySelector("input[name='custom_train_" + i + "']");
                                var hiddenInput = document.querySelector("input[name='hidden_custom_train_" + i + "']");
                                if (customTrainInput && hiddenInput) {
                                    hiddenInput.value = customTrainInput.value;
                                }
                            }
                        }
                        
                        document.getElementById('train').addEventListener('submit', function() {
                            copyTextToHiddenInputs();
                        });
                        

                        // spin wheel
                        @keyframes spin {
                            from {
                                transform: translate(-50%, -50%) rotate(0deg);
                            }
                            to {
                                transform: translate(-50%, -50%) rotate(360deg);
                            }
                        }


                        </script>
                  </div>          
            </div>
        </div>
    </body>
  </main>
{% endblock %}
